.tabBtns {
  display: flex;
  gap: var(--fs33);
  border-bottom: 2px solid var(--light-colors-light-gray-light);
}

.tabBtns button {
  padding-bottom: var(--fs16);
  font-size: var(--fs20);
  color: var(--light-colors-dark-gray-light);
  background-color: transparent;
  position: relative;
}

.tabBtns button.active {
  color: var(--light-colors-black-light);
}

.tabBtns button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background-color: var(--light-colors-black-light);
  transition: 0.3s;
}

.tabBtns button.active::before,
.tabBtns button:hover::before {
  width: 100%;
}

section > * {
  margin-bottom: var(--fs26);
}
